*{
    box-sizing: border-box;
}
.index_imagen{
    display: grid;
    grid-area: index_imagen;
    align-items: center;
    justify-content: center;
}

.index_login{
    display: grid;
    grid-area: index_login;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
    align-content: start;
    text-align: center;
}

.index_logo{
    width: 90%;
    height: 70%;
}

.tamaño_logo{
    width: 60%;
    height: 60%;
    display:block;
    margin:auto;
}

#mensaje_flash{
    color: red;
    text-align: center;
}

#contenedor_login{
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.contenedor_inputs_login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}

.contenedor_button_login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 125px;
    padding-right: 125px;
}

p{
    font-family: "Tw Cen MT", Times, serif;
}

h3{
    font-family: "Tw Cen MT", Times, serif;
}

.letra_login{
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
}

#boton_login{
    float: none;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 15px;
    width:9.52em;
}

.input_login{
    width:12em;
    font-family: "Tw Cen MT", Times, serif;
    font-size: 22px;
}

.input_numero{
    width:4em;
    font-family: "Tw Cen MT", Times, serif;
}

#titulo_login{
    font-family: "Tw Cen MT", Times, serif;
    text-align: center;
    font-size: 36px; 
}

#titulo_menu_principal{
    font-family: "Tw Cen MT", Times, serif;
    text-align: center;
    font-size: 36px;
}

#lista_menu_principal{
    list-style:none;
    margin:0; 
    padding:0
}

.enlace_menu_principal:link{
    text-decoration:none; 
}

#logo_expediciones{
    width: 70px;
    height: 70px;
}

.imagen_item{
    height: 70px;
}

.contenedor_item{
    text-align: center;
    border: 1px solid black;
    font-size: 24px;
    font-family: "Tw Cen MT", Times, serif;
    border-radius: 8px;
    text-decoration:none;
    color: black;
    width: auto;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 4fr;

}

.texto_item{
    display: grid;
    justify-content: center;
    align-content: center;
}

#contenedor_lector_etiqueta{
    display: grid;
    grid-template-areas: "arriba"
        "abajo";
    grid-template-rows: 200px 50%;
    margin-top: 200px;
}

#contenedor_lector_etiqueta_arriba{
    grid-area: arriba;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-size: 20px;

}

#contenedor_lector_etiqueta_abajo{
    grid-area: abajo;
    display: flex;
    justify-content:space-around;
    padding-right: 30px;
    padding-left: 90px;
}

.label_lectura_sscc{
    font-family: "Tw Cen MT", Times, serif;
    font-size: 18px;
}

#label_mensaje_lectura_sscc{
    font-family: "Tw Cen MT", Times, serif;
    text-align: center;
    color: red;
    font-size: 18px;
}

#contenedor_mensaje{
    height:  70px;
}

#contenedor_cajas{
    visibility: hidden;
}

#contenedor_botones{
    visibility: hidden;
    align-content: center;
    justify-items: center;
    text-align: center;
}

.botones_lectura_sscc{
    width: 160px;
    height: 60px;
    font-size: 34px;
}

#layer {
    position:fixed;
    z-index:1;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(200,200,200,0.8);
    visibility: hidden;
}

/* Esta capa es la que muestra el recuadro central */
#layerc {
    position:absolute;
    top:50%;
    left:50%;
    width:200px;
    height:150px;
    margin-left:-100px;
    margin-top:-50px;

    background-color:#fff;
    padding:5px;
    border:0px solid #2d2d2d;
    min-height:100px;
    text-align:center;

    border:1px solid #808080;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

/* Esta capa muestra el gif animado */
#layerClock {
    margin:auto;
    width:31px;height:31px;
    background:url('../img/ajax-loader.gif');
}

.titulo_fieldset{
    font-family: "Tw Cen MT", Times, serif;
}

.bt-menu{
    position: absolute;
    top: 10px;
    left: 10px;
}

#menu_arriba{
    display: flex;
    justify-content:space-around;
}

.menu_bar .bt-menu {
    display: block;
    color: #fff;
    overflow: hidden;
    font-weight: bold;
    text-decoration: none;
}

.menu_bar span {
    float: right;
    font-size: 40px;
}

header nav {
    width: 50%;
    height: calc(100%);
    position: fixed;
    right:100%;
    margin: 0;
    overflow: auto;
}

header nav {
    width: 50%;
    height: calc(100%);
    position: fixed;
    right:100%;
    margin: 0;
    overflow: auto;
}

header nav ul li {
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
}

header nav ul li a {
    display: block;
}

header nav ul li:hover .children {
    display: none;
}

header nav ul li .children {
    width: 100%;
    position: relative;
}

header nav ul li .children li a {
    margin-left:20px;
}

header nav ul li .caret {
    float: right;
}

#estilo_menu_lateral{
    background-color: rgba(180,180,180,0.9);

}

#lista_menu_lateral{
    list-style: none;
    margin:0;
    padding:0;
}

.items_lista{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 3px;
    font-family: "Tw Cen MT", Times, serif;
    text-align: center;
}

#item_titulo{
    font-family: "Tw Cen MT", Times, serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0px;
    background-color: rgb(180,180,180);
}

.contenedor_lote_leido{
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    margin: 10px;
    display: flex;
    justify-content:space-around;
    text-align: center;
    
}

#table{
    width: 100%;
    text-align: center;
    font-family: "Tw Cen MT", Times, serif;
    font-size: 12px;
    border: 2px solid black;
}

#tr_titulos{
    font-size: 17px;
    border-collapse:separate;
    
    padding-bottom: 10px;
}

.th_titulo{
    border-bottom: 2px solid black;
}

.td_registro{
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 21px;
}

.tr_registro{
     border: 2px solid black;
}

.img_delete{
    width: 25px;
    height: 25px;
}